.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card {
  margin-top: 20px;
  margin-bottom: 29px;
}
.card-header{
  background-color: #3a6f214d;
}
.btn-success {
  color: #5f6b59;
  background-color: #c4d4bc;
  border-color: #5eaa38;
}
btn-success:hover {
  color: #647267;
  background-color: #fff;
  border-color: #1a873a;
}


