.jumbotron {
    
    background-image: url(/images/background.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  h1.display-4.text-center{
    font-family: 'Spicy Rice', cursive;
  }
  p.lead.text-center{
    font-family: 'Jim Nightshade', cursive;
    font-size: 30px;
  }