.well {
    height: 48px;
}
.card {
    margin-top: 20px;
    margin-bottom: 29px;
}
.resultcard {
    border: 1px solid #dfd7d7;
    margin-bottom: 10px;
    padding: 7px;
}
#search{
    margin-right:10px;
}
.btn-success {
    color: #5f6b59;
    background-color: #c4d4bc;
    border-color: #5eaa38;
  }
  .btn-success:hover {
    color: #647267;
    background-color: #fff;
    border-color: #1a873a;
  }

